<!DOCTYPE html>
<html>

<head>
    <title>@akhilkrishnang | Link-in-bio</title>

    <meta charset="UTF-8">
    <meta name="description" content="Quick links of Akhil Krishnan G">
    <meta name="keywords" content="akhilkrishnang, akhil, krishnan, g, profile, technology, software">
    <meta name="author" content="Akhil Krishnan G">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/styles.css?v=1.2">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/966ecd7dd2.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XWZ2FW5MNF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XWZ2FW5MNF');
    </script>
</head>

<body>
    <div class="content" id="linkinbio-app">
        <div class="dp">
            <img src="assets/images/dp.webp" class="dp__dp-img" />
        </div>
        <div class="name">Akhil Krishnan G</div>
        <div class="bio">Coding | Photography | Design | Art</div>
        <div class="social-links">
            <a href="https://www.facebook.com/akhilkrishnang" target="_blank">
                <div class="social-links__icon"><i class="fab fa-facebook"></i></div>
            </a>
            <a href="https://www.instagram.com/akhil.krishnan.g/" target="_blank">
                <div class="social-links__icon"><i class="fab fa-instagram"></i></div>
            </a>
            <a href="http://500px.com/akhilkrishnang" target="_blank">
                <div class="social-links__icon"><i class="fab fa-500px"></i></div>
            </a>
            <a href="https://www.linkedin.com/in/akhilkrishnang/" target="_blank">
                <div class="social-links__icon"><i class="fab fa-linkedin"></i></div>
            </a>
            <a href="https://github.com/akhilkrishnang" target="_blank">
                <div class="social-links__icon"><i class="fab fa-github"></i></div>
            </a>
            <a href="https://www.behance.net/akhilkrishnang" target="_blank">
                <div class="social-links__icon"><i class="fab fa-behance"></i></div>
            </a>
        </div>
        <div class="links-stack" v-if="links.length">
            <a :href="item.url" target="_blank" v-for="item in links">                
                <div class="links-stack__item" v-bind:class="{ 'links-stack__item--trending': item.trending }">
                    <div class="links-stack__item__thumb" v-if="item.featured_image">
                        <img v-bind:src="'https://cms.akhilkrishnang.com/public/darkroom/assets/'+ item.featured_image.private_hash + '?key=link_thumbnail'"/>
                    </div>
                    <div class="links-stack__item__name">
                        {{item.display_name}}
                    </div>
                </div>
            </a>
        </div>
        <div class="links-loader" v-if="!links.length">
            <lottie-player src="assets/lotties/lottie_load_skel.json" background="transparent"  speed="1"  style="width: 100%;" loop autoplay></lottie-player>
        </div>
        <div class="bg-lottie">
            <lottie-player src="assets/lotties/lottie_cute_owl.json" background="transparent"  speed="1"  style="width: 10rem; height: 10rem;" loop autoplay></lottie-player>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="assets/js/script.js?v=1.2"></script>    
    <script type="text/javascript" src="assets/js/controller.js?v=1.2"></script>
</body>

</html>