* {
    box-sizing: border-box;
}
:root {
    font-size: 62.5%; 

    --akg-yellow: #f9c826;
    --akg-red: #f94f4f;
    --fg-color: #393939; 
    --bg-color: #EFEEEA;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--fg-color);
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
}

.content{
    width: 100%;
    height: 100%;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-links{
    margin-top: 3rem;
    display: flex;
}
.social-links__icon{
    width: 4rem;
    height: 4rem;
    text-align: center;
    cursor: pointer;
    font-size: 2.2rem;
    color: #526B89;
    border-radius: 1rem;
}
.social-links__icon:hover{
    font-size: 2.4rem;
}
.dp__dp-img {
    border-radius: 50%;
    border: 0.5rem solid #e0e0e0;
    height: 10rem;
}
.name{
    font-weight: 500;
    font-size: 1.8rem;
}
.bio{
    margin-top: 0.6rem;
    font-weight: 300;
    font-size: 1.5rem;
}
.links-stack {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.links-stack > a{
    text-decoration: none;
}
.links-stack__item {
    width: 100%;
    height: 5rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdfdfd;
    color: var(--fg-color);
}
.bg-lottie{
    position: absolute;
    bottom: 0;
}
.links-stack__item--trending {
    animation: shake-animation 2.72s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes shake-animation {
    0% { transform:translate(0,0) }
    1.78571% { transform:translate(5px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(5px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(5px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
}

/* Overriding grid & styles for large devices */
@media (min-width:960px) { 
    .links-stack {
        width: 40%;
    }
}